[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
faker = "==37.1.0"
kafka-python = "*"
confluent-kafka = "*"

[dev-packages]

[requires]
python_version = "3.10"
